html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

@supports (scroll-behavior: smooth) {
  body {
    scroll-behavior: smooth;
  }
}

main,
section {
  display: block;
}

::selection {
  color: white;
  background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  display: block;
  padding: 0;
  margin: 0;
}

b,
strong {
  font-family: inherit;
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.75em;
}

sup {
  top: -0.4em;
}

sub {
  bottom: -0.4em;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

:root {
  --background_color-page: #ffffff;
  --background_color-sidebar_nav: #c3edf2;
  --text_color-subtitle: #68d2df;
}

[data-colorscheme="light"] {
  --background_color-page: #d9f4f7;
  --background_color-sidebar_nav: #68d2df;
}

[data-colorscheme="dark"] {
  --background_color-page: linear-gradient(-45deg, #8ae6c7, #0e72c0);
  --background_color-sidebar_nav: #38a6d4;
}

.purple-box {
  --border_color-container: #8f76be;
  --border_color-button: #8f76be;
}

[data-page="homepage"] .homepage_content h1 span, .page_header-primary .title, [data-page="reframing-respiratory-care"] .grid .content .styled_list li:before, .page_header-secondary .title, .page_header-tertiary .title, .introductory_copy, .references .references_content ol li:before, body, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul .central strong, [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul .central strong, .message, [data-page="reframing-respiratory-care-precision"] .content .copy_heading, [data-page="severe-asthma-precision"] .content .copy_heading, .page_header-secondary .subtitle, .primary-navigation ul li a, .page-navigation ul li a, [data-page="publications"] .content .data_table .heading .grid > div, [data-page="publications"] .content .grid > div, .download_list li .button span:not(.icon), [data-page="publications"] .content .grid > div strong, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central), [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central), .aside_header, .programme_objectives li span:not(.icon), .footer_container button, .colophon, .footnote {
  font-size-adjust: none;
  font-variant: 400;
  font-kerning: none;
  font-variant-ligatures: none;
  font-style: normal;
  font-weight: normal;
}

[data-page="homepage"] .homepage_content h1 span, .page_header-primary .title {
  font-family: "ibm_plex_sansbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 5);
  line-height: 0.9375em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

[data-page="reframing-respiratory-care"] .grid .content .styled_list li:before, .page_header-secondary .title, .page_header-tertiary .title {
  font-family: "ibm_plex_sansbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 2.8125);
  line-height: 1em;
  text-transform: uppercase;
}

.introductory_copy, .references .references_content ol li:before {
  font-family: "ibm_plex_serifbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 1.125);
  line-height: 1.28em;
}

body, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul .central strong, [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul .central strong, .message {
  font-family: "ibm_plex_serifregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 0.9375);
  line-height: 1.4em;
}

[data-page="reframing-respiratory-care-precision"] .content .copy_heading, [data-page="severe-asthma-precision"] .content .copy_heading, .page_header-secondary .subtitle, .primary-navigation ul li a, .page-navigation ul li a {
  font-family: "ibm_plex_sansbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 0.9375);
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0;
}

[data-page="publications"] .content .data_table .heading .grid > div, [data-page="publications"] .content .grid > div, .download_list li .button span:not(.icon), [data-page="publications"] .content .grid > div strong, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central), [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central), .aside_header {
  font-family: "ibm_plex_sansbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 0.8125);
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

[data-page="publications"] .content .data_table .heading .grid > div, [data-page="publications"] .content .grid > div {
  font-family: "ibm_plex_sansregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.programme_objectives li span:not(.icon) {
  font-family: "ibm_plex_sansregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 0.625);
  line-height: 1.1em;
}

.programme_objectives li span:not(.icon) {
  font-family: "ibm_plex_sansbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer_container button, .colophon, .footnote {
  font-family: "ibm_plex_sansregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem * 0.4375);
  line-height: 1.43em;
}

[data-page="reframing-respiratory-care"] .grid .content .styled_list, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul, [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul, .download_list, .programme_objectives, .references .references_content ol, .primary-navigation ul, .page-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.download_list li .button,
.download_list li .button:visited,
.download_list li .button:active,
.download_list li .button:hover,
.download_list li .button:focus {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-right: 42px;
  padding-bottom: 0;
  padding-left: 42px;
  min-height: 42px;
  background: none;
}

.download_list li .resource.button {
  position: relative;
  text-align: left;
  --icon_size: 21px;
}

.download_list li .resource.button .icon {
  position: absolute;
  top: 50%;
  left: 1ch;
  transform: translateY(-50%);
}

.download_list li .resource.button .icon img {
  width: 60%;
  margin: 20%;
}

.download_list li .slidedeck.button {
  padding-right: 2rem;
  padding-left: 2rem;
}

.download_list li .slidedeck.button span:not(.icon) {
  text-align: center;
}

.download_list li .slidedeck.button .icon {
  display: none;
}

.download_list li .button span:not(.icon) {
  flex-grow: 1;
  line-height: 1.5em;
  color: var(--text_color);
  padding-top: calc(21px - 0.75em);
  padding-bottom: calc(21px - 0.75em);
}

.download_list li .button,
.download_list li .button:visited,
.download_list li .button:active,
.download_list li .button:hover,
.download_list li .button:focus, .page-navigation ul li[data-active="true"] a, .message {
  outline-width: 0.125rem;
  outline-style: solid;
  outline-color: var(--border_color);
}

[data-resource],
.border-block {
  outline-width: 0.5rem;
  outline-style: solid;
  outline-color: var(--border_color);
}

[data-slidedeck],
.cutaway {
  box-shadow: inset 0 0.0625rem 0.5rem rgba(0, 0, 0, 0.3), inset 0.0625rem 0 0.5rem rgba(0, 0, 0, 0.3), inset 0 -0.0625rem 0.5rem rgba(0, 0, 0, 0.3), inset -0.0625rem 0 0.5rem rgba(0, 0, 0, 0.3);
}

html {
  overflow: hidden;
}

body {
  background: var(--background_color-page);
  color: #110c4e;
  overflow: hidden;
}

body[data-page="publications"], body[data-page="references"] {
  overflow-y: auto;
}

body[data-page="publications"] .sidebar.first, body[data-page="references"] .sidebar.first {
  position: fixed;
}

:root {
  --column_count: 12;
}

.grid, .grid .sidebar.first, [data-page="severe-asthma-benralizumab"] .grid .sidebar.first {
  display: grid;
  grid-template-columns: repeat(var(--column_count), 55px);
  grid-template-rows: auto;
  grid-column-gap: 21px;
  width: 100%;
}

.grid .masthead, .grid .footer_container, .grid .sidebar.first, .grid .sidebar .page-navigation, [data-page="homepage"] .colophon, [data-page="mild-asthma"] .grid .sidebar.first, [data-page="publications"] .page_header-tertiary, [data-page="publications"] .footer_container .colophon, [data-page="publications"] .content, [data-page="publications"] .content .data_table, [data-page="publications"] .content .data_table .grid > div:nth-of-type(1), [data-page="publications"] .content .data_table [data-sort], [data-page="severe-asthma-benralizumab"] .grid .sidebar.first, [data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.first {
  grid-column-start: 1 !important;
}

.grid .footer_container, .grid .sidebar.first, .grid .sidebar .page-navigation, [data-page="mild-asthma"] .grid .sidebar.first, [data-page="publications"] .footer_container .colophon, [data-page="publications"] .content .data_table .grid > div:nth-of-type(1), [data-page="publications"] .content .data_table .grid > div:nth-of-type(2), [data-page="severe-asthma-benralizumab"] .grid .sidebar.first, [data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.first {
  grid-column: 1/span 2;
}

[data-page="homepage"] .homepage_content .grid img, .references .references_content {
  grid-column-start: 2 !important;
}

[data-page="mild-asthma"] .grid .sidebar.last, [data-page="reframing-respiratory-care-asthma-zero"] .content, [data-page="reframing-respiratory-care-precision"] .sidebar.last, [data-page="severe-asthma-benralizumab"] .grid .sidebar.last, [data-page="severe-asthma-precision"] .sidebar.last, [data-page="severe-asthma-tezepelumab"] .grid .sidebar.last, [data-page="moderate-severe-asthma-asthma-zero"] .content, [data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.last, [data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.last {
  grid-column: 1/span 3;
}

[data-page="mild-asthma"] .grid .content, [data-page="publications"] .content .data_table .grid > div:nth-of-type(2) {
  grid-column-start: 3 !important;
}

[data-page="reframing-respiratory-care"] .grid .sidebar.last, [data-page="reframing-respiratory-care"] .grid .content, [data-page="severe-asthma"] .grid .sidebar.last, [data-page="severe-asthma"] .grid .content, [data-page="moderate-severe-asthma"] .sidebar.last, [data-page="moderate-severe-asthma"] .content, [data-page="reframing-respiratory-care-act-on-copd"] .grid .content, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last, [data-page="reframing-respiratory-care-precision"] .content, [data-page="severe-asthma-precision"] .content, [data-page="severe-asthma-tezepelumab"] .grid .content, [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last, [data-page="mild-asthma-budesonide-formoterol"] .grid .content {
  grid-column: 1/span 4;
}

.grid .content, [data-page="reframing-respiratory-care"] .grid .content, [data-page="moderate-severe-asthma"] .content, [data-page="reframing-respiratory-care-act-on-copd"] .grid .content, [data-page="reframing-respiratory-care-asthma-zero"] .content, [data-page="reframing-respiratory-care-precision"] .content, [data-page="severe-asthma-benralizumab"] .grid .content, [data-page="severe-asthma-precision"] .content, [data-page="moderate-severe-asthma-asthma-zero"] .content, [data-page="mild-asthma-budesonide-formoterol"] .grid .content {
  grid-column-start: 4 !important;
}

[data-page="mild-asthma"] .grid .content, [data-page="reframing-respiratory-care-act-on-copd"] .grid .sidebar.last, [data-page="severe-asthma-benralizumab"] .grid .content, [data-page="moderate-severe-asthma-budesonide-formoterol"] .content {
  grid-column: 1/span 5;
}

[data-page="publications"] .content .data_table .grid > div:nth-of-type(3), [data-page="moderate-severe-asthma-budesonide-formoterol"] .content {
  grid-column-start: 5 !important;
}

[data-page="publications"] .content .data_table .grid > div:nth-of-type(3) {
  grid-column: 1/span 8;
}

[data-page="reframing-respiratory-care-act-on-copd"] .grid .sidebar.last {
  grid-column-start: 8 !important;
}

[data-page="reframing-respiratory-care"] .grid .sidebar.last, [data-page="severe-asthma"] .grid .sidebar.last, [data-page="moderate-severe-asthma"] .sidebar.last, [data-page="mild-asthma"] .grid .sidebar.last, [data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last, [data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last {
  grid-column-start: 9 !important;
}

[data-page="homepage"] .homepage_content .grid img, .references .references_content {
  grid-column: 1/span 10;
}

[data-page="reframing-respiratory-care-precision"] .sidebar.last, [data-page="severe-asthma-benralizumab"] .grid .sidebar.last, [data-page="severe-asthma-precision"] .sidebar.last, [data-page="severe-asthma-tezepelumab"] .grid .sidebar.last, [data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.last, [data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.last {
  grid-column-start: 10 !important;
}

.grid .masthead, [data-page="homepage"] .colophon, [data-page="publications"] .page_header-tertiary, [data-page="publications"] .content, [data-page="publications"] .content .data_table, [data-page="publications"] .content .data_table [data-sort] {
  grid-column: 1/span 12;
}

.grid {
  margin: 0 auto;
  max-width: 891px;
}

.grid .sidebar {
  height: calc(100vh - (5.75rem + 2rem));
}

.grid .sidebar.first {
  --column_count: 2;
}

.grid .sidebar.first .footer_container {
  align-self: end;
  padding-bottom: 2rem;
}

.grid .content {
  position: relative;
}

.secret_button {
  position: absolute;
  top: auto;
  right: 0;
  z-index: 54900;
  width: 4rem;
  height: 3.5rem;
}

[data-page="homepage"] {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

[data-page="homepage"] .masthead {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

[data-page="homepage"] .masthead > a {
  display: none;
}

[data-page="homepage"] .colophon {
  line-height: 2rem;
}

[data-page="homepage"] .homepage_content .grid {
  width: 100%;
  height: 100%;
  padding-top: 55px;
  padding-bottom: 55px;
}

[data-page="homepage"] .homepage_content .grid img {
  margin-left: 21px;
}

[data-page="homepage"] .homepage_content {
  width: 960px;
  height: 703px;
  margin: 2rem auto 0 auto;
  flex-grow: 1;
}

[data-page="homepage"] .homepage_content .company-logo {
  position: fixed;
  top: 3rem;
  left: 3rem;
  margin: 1rem;
}

[data-page="homepage"] .homepage_content h1 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: calc(550px + 189px);
  margin-top: 5.75rem;
  margin-right: auto;
  margin-left: auto;
}

[data-page="homepage"] .homepage_content h1 span {
  display: inline-block;
  max-width: 9%;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}

[data-page="homepage"] .homepage_content[data-active="true"] {
  position: relative;
}

[data-page="homepage"] .homepage_content[data-active="true"]:before, [data-page="homepage"] .homepage_content[data-active="true"]:after {
  content: "";
  border-width: 0;
  border-color: #ffffff;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

[data-page="homepage"] .homepage_content[data-active="true"]:before {
  top: 0;
  right: 11.75rem;
  border-top-width: 0.75rem;
  border-left-width: 0.75rem;
  animation: drawTopLeft 1 900ms forwards;
  animation-delay: 300ms;
}

[data-page="homepage"] .homepage_content[data-active="true"]:after {
  bottom: 0;
  left: 0;
  border-right-width: 0.75rem;
  border-bottom-width: 0.75rem;
  animation: drawBottomRight 900ms forwards;
  animation-delay: 1200ms;
}

[data-page="homepage"] .homepage_content[data-active="true"] .masthead {
  width: 11.75rem;
}

[data-page="homepage"] .homepage_content[data-active="true"] .masthead [data-action="toggle-nav"] {
  animation: pulseNav 1 300ms;
  animation-delay: 2100ms;
}

@keyframes drawTopLeft {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    width: 772px;
    height: 0;
  }
  100% {
    width: 772px;
    height: 703px;
    opacity: 1;
  }
}

@keyframes drawBottomRight {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    width: 960px;
    height: 0;
  }
  100% {
    width: 960px;
    height: 628px;
    opacity: 1;
  }
}

@keyframes pulseNav {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1.25);
  }
}

[data-page="reframing-respiratory-care"] .hero-image {
  position: fixed;
  top: 3.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: calc(440px + 147px);
  margin-left: 27.5px;
}

[data-page="reframing-respiratory-care"] .grid .sidebar.last .cutaway {
  position: relative;
  z-index: 0;
  padding: 0;
  width: calc(100% + 55px + 21px);
  height: calc(100% - 5.75rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

[data-page="reframing-respiratory-care"] .grid .sidebar.last .cutaway img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-page="reframing-respiratory-care"] .grid .content {
  position: relative;
  z-index: 2;
}

[data-page="reframing-respiratory-care"] .grid .content .page_header-primary {
  opacity: 0;
  position: relative;
  z-index: 10;
  padding-top: 55px;
  padding-bottom: 2.5rem;
  margin-left: calc(-27.5px - 21px);
}

[data-page="reframing-respiratory-care"] .grid .content .page_header-primary .title > div span {
  display: block;
  color: #ffffff;
}

[data-page="reframing-respiratory-care"] .grid .content .page_header-primary .title > div span:first-of-type {
  -webkit-text-stroke: 0.0625rem #ffffff;
  color: transparent;
}

[data-page="reframing-respiratory-care"] .grid .content p {
  width: calc(100% + 42px);
}

[data-page="reframing-respiratory-care"] .grid .content p strong {
  color: #ffffff;
}

[data-page="reframing-respiratory-care"] .grid .content .styled_list {
  counter-reset: styled_list;
}

[data-page="reframing-respiratory-care"] .grid .content .styled_list li {
  width: calc(100% + 42px);
  position: relative;
  padding-bottom: 1.5em;
}

[data-page="reframing-respiratory-care"] .grid .content .styled_list li:before {
  width: 1ch;
  counter-increment: styled_list;
  content: "" counter(styled_list) "";
  position: absolute;
  top: -0.04em;
  left: calc(-21px - 1ch);
  -webkit-text-stroke: 0.0625rem #110c4e;
  color: transparent;
}

[data-page="severe-asthma"] .grid .sidebar.last .cutaway {
  width: calc(100% + 42px + 55px);
  height: calc(100% - 2rem);
  margin-left: calc(-21px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}

[data-page="severe-asthma"] .grid .content .page_header-primary {
  position: relative;
  z-index: 10;
  margin-left: -21px;
}

[data-page="severe-asthma"] .grid .content .page_header-primary .title {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

[data-page="severe-asthma"] .grid .content .page_header-primary .title span {
  display: inline-block;
  padding-left: 1.75ch;
}

[data-page="moderate-severe-asthma"] .sidebar.last {
  width: calc(100% + 55px + 21px);
}

[data-page="moderate-severe-asthma"] .sidebar.last .cutaway {
  margin-bottom: calc(calc(1rem * 0.8125) + 0.5rem);
  padding-top: 0;
  padding-bottom: 0;
}

[data-page="moderate-severe-asthma"] .content p:first-of-type {
  padding-bottom: 0;
}

[data-page="moderate-severe-asthma"] .content .page_header-primary {
  padding-top: 3.5rem;
  padding-bottom: 3.125rem;
  position: relative;
  z-index: 10;
}

[data-page="mild-asthma"] .grid .sidebar.last {
  margin-left: calc(-55px - 21px);
}

[data-page="mild-asthma"] .grid .sidebar.last div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 95px;
}

[data-page="mild-asthma"] .grid .content {
  margin-top: calc(-5.75rem - 55px);
}

[data-page="mild-asthma"] .grid .content .cutaway {
  width: calc(385px + 126px);
  height: 258px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

[data-page="mild-asthma"] .grid .content .page_header-primary {
  padding-bottom: 55px;
  padding-left: 76px;
  margin-top: -2rem;
}

[data-page="mild-asthma"] .grid .content .introductory_copy {
  padding-bottom: 55px;
  padding-left: 76px;
  margin-top: -2rem;
}

[data-page="mild-asthma"] .grid .content [data-resource] .aside_header {
  margin-right: auto;
  margin-left: auto;
}

[data-page="mild-asthma"] .grid .content .secret_button {
  transform: translate(calc(110px + 21px), 2em);
}

[data-page="publications"] .masthead {
  margin-bottom: 0;
}

[data-page="publications"] .page_header-tertiary {
  padding-bottom: 3.5rem;
}

[data-page="publications"] .footer_container {
  padding-bottom: 2rem;
}

[data-page="publications"] .footer_container .colophon {
  padding-top: 2rem;
}

[data-page="publications"] .content .data_table .grid > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-page="publications"] .content .data_table .grid > div:nth-of-type(1) {
  font-weight: 700;
}

[data-page="publications"] .content .data_table .heading {
  background-color: #d9f4f7;
}

[data-page="publications"] .content .data_table .heading .grid > div {
  font-weight: unset;
  text-align: left;
  position: relative;
}

[data-page="publications"] .content .data_table .heading .grid > div:not(:last-of-type):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.0625rem;
  height: 1.25rem;
  background-color: #110c4e;
  transform: translate(-100%, -50%);
}

[data-page="publications"] .content .data_table [data-sort].severe-asthma {
  background-color: #68d2df;
}

[data-page="publications"] .content .data_table [data-sort].hidden {
  background-color: #7cdfd3;
}

[data-page="publications"] .content .data_table [data-sort].moderate-severe-asthma {
  background-color: #52c4e5;
}

[data-page="publications"] .content .data_table [data-sort].mild-asthma {
  background-color: #38a6d4;
}

[data-page="publications"] .content .data_table [data-sort][data-sort] {
  margin-bottom: 0.125rem;
}

[data-page="publications"] .content .data_table [data-sort].hidden[data-active="false"] {
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

[data-page="publications"] .content .grid > div {
  text-transform: unset;
}

[data-page="publications"] .content [data-action="toggle-sort"] .icon {
  display: inline-block;
  vertical-align: middle;
  --icon_size: 0.75rem;
  transform: rotate(90deg);
}

[data-page="publications"] .content [data-action="toggle-sort"] .icon svg {
  transition: transform ease 300ms;
}

[data-page="publications"] .content [data-action="toggle-sort"][data-active="true"] .icon svg {
  transform: rotate(180deg);
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.first .footer_container img {
  max-width: 100%;
  max-height: 100vh;
  margin-bottom: 3rem;
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block {
  --border_color: #68d2df;
  width: calc(100% + 110px + 21px);
  transform: translateY(0.5rem);
  margin-left: -55px;
  padding: calc(55px - 21px) 0;
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul {
  font-size: 0;
  width: calc(calc(110px + 21px) + calc(110px + 21px) + 42px);
  margin-left: calc(55px - 0.5rem);
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central) {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10.5px;
  color: #ffffff;
  width: calc(110px + 21px);
  height: calc(110px + 21px);
  border-radius: 50%;
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central) .icon {
  padding-bottom: 0.5rem;
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(1) {
  background: linear-gradient(45deg, #241c5b, #821a37);
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(2) {
  background: linear-gradient(45deg, #241c5b, #821a37 20%);
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(4) {
  background: linear-gradient(45deg, #241c5b 80%, #821a37);
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(5) {
  background: linear-gradient(45deg, #241c5b, #821a37);
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul .central {
  width: 100%;
  text-align: center;
}

[data-page="reframing-respiratory-care-asthma-zero"] .sidebar.last > div .border-block ul .central strong {
  font-family: "ibm_plex_serifbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

[data-page="reframing-respiratory-care-asthma-zero"] .content .page_header-primary {
  position: relative;
  z-index: 10;
  padding-bottom: 55px;
  width: calc(385px + 147px);
}

[data-page="reframing-respiratory-care-asthma-zero"] .content .page_header-primary .introductory_copy {
  width: calc(220px + 84px);
}

[data-page="reframing-respiratory-care-asthma-zero"] .content p {
  width: calc(100% + 21px);
}

[data-page="reframing-respiratory-care-precision"] .sidebar.first .footer_container img {
  width: 105px;
  max-width: 100%;
  max-height: 100vh;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

[data-page="reframing-respiratory-care-precision"] .sidebar.last .cutaway {
  width: calc(100% + 42px + 82.5px);
  margin-left: calc(-55px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 0;
  padding-right: 0;
  padding-left: 2.5rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

[data-page="reframing-respiratory-care-precision"] .sidebar.last .cutaway img {
  transform: translate(2rem, -0.5rem);
}

[data-page="reframing-respiratory-care-precision"] .sidebar.last [data-resource] {
  width: calc(100% + 42px + 82.5px);
  margin-left: calc(-55px + 0.5rem);
  padding-right: 0;
  padding-left: calc(55px - 0.5rem);
}

[data-page="reframing-respiratory-care-precision"] .content .page_header-primary {
  position: relative;
  z-index: 10;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

[data-page="reframing-respiratory-care-precision"] .content .copy_heading {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}

[data-page="severe-asthma-benralizumab"] .grid .sidebar.first {
  --column_count: 2;
}

[data-page="severe-asthma-benralizumab"] .grid .sidebar.last img {
  max-width: calc(100% + 42px + 82.5px + 0.5rem);
  margin-left: calc(-55px);
  height: 15.5rem;
  object-fit: cover;
  margin-bottom: 1.25rem;
}

[data-page="severe-asthma-benralizumab"] .grid .sidebar.last [data-resource] {
  width: calc(100% + 42px + 82.5px);
  margin-left: calc(-55px + 0.5rem);
  padding-right: 0;
  padding-left: calc(55px - 0.5rem);
}

[data-page="severe-asthma-benralizumab"] .grid .content .page_header-secondary {
  padding-bottom: 55px;
}

[data-page="severe-asthma-precision"] .sidebar.first .footer_container img {
  width: 105px;
  max-width: 100%;
  max-height: 100vh;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

[data-page="severe-asthma-precision"] .sidebar.last .cutaway {
  width: calc(100% + 42px + 82.5px);
  margin-left: calc(-55px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 0;
  padding-right: 0;
  padding-left: 2.5rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

[data-page="severe-asthma-precision"] .sidebar.last .cutaway img {
  transform: translate(2rem, -0.5rem);
}

[data-page="severe-asthma-precision"] .sidebar.last [data-resource] {
  width: calc(100% + 42px + 82.5px);
  margin-left: calc(-55px + 0.5rem);
  padding-right: 0;
  padding-left: calc(55px - 0.5rem);
}

[data-page="severe-asthma-precision"] .content .page_header-primary {
  position: relative;
  z-index: 10;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

[data-page="severe-asthma-precision"] .content .copy_heading {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}

[data-page="severe-asthma-tezepelumab"] .grid .sidebar.first .footnote {
  display: block;
  padding-bottom: 1.5em;
}

[data-page="severe-asthma-tezepelumab"] .grid .sidebar.last .cutaway {
  width: calc(100% + 42px + 82.5px + 1rem);
  margin-left: calc(-55px);
  height: 15.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1.25rem;
}

[data-page="severe-asthma-tezepelumab"] .grid .sidebar.last [data-resource] {
  --border_color: #8f76be;
  width: calc(100% + 42px + 82.5px);
  margin-left: calc(-55px + 0.5rem);
  padding-right: 0;
  padding-left: calc(55px - 0.5rem);
}

[data-page="severe-asthma-tezepelumab"] .grid .content .page_header-secondary .title {
  margin-bottom: 55px;
}

[data-page="severe-asthma-tezepelumab"] .grid .content [data-slidedeck] {
  width: calc(100% + 21px + 55px);
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.first .footer_container img {
  max-width: 100%;
  max-height: 100vh;
  margin-bottom: 3rem;
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block {
  --border_color: #68d2df;
  width: calc(100% + 110px + 21px);
  transform: translateY(0.5rem);
  margin-left: -55px;
  padding: calc(55px - 21px) 0;
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul {
  font-size: 0;
  width: calc(calc(110px + 21px) + calc(110px + 21px) + 42px);
  margin-left: calc(55px - 0.5rem);
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central) {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10.5px;
  color: #ffffff;
  width: calc(110px + 21px);
  height: calc(110px + 21px);
  border-radius: 50%;
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central) .icon {
  padding-bottom: 0.5rem;
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(1) {
  background: linear-gradient(45deg, #241c5b, #821a37);
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(2) {
  background: linear-gradient(45deg, #241c5b, #821a37 20%);
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(4) {
  background: linear-gradient(45deg, #241c5b 80%, #821a37);
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul li:not(.central):nth-of-type(5) {
  background: linear-gradient(45deg, #241c5b, #821a37);
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul .central {
  width: 100%;
  text-align: center;
}

[data-page="moderate-severe-asthma-asthma-zero"] .sidebar.last > div .border-block ul .central strong {
  font-family: "ibm_plex_serifbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

[data-page="moderate-severe-asthma-asthma-zero"] .content .page_header-primary {
  position: relative;
  z-index: 10;
  padding-bottom: 55px;
  width: calc(385px + 147px);
}

[data-page="moderate-severe-asthma-asthma-zero"] .content .page_header-primary .introductory_copy {
  width: calc(220px + 84px);
}

[data-page="moderate-severe-asthma-asthma-zero"] .content p {
  width: calc(100% + 21px);
}

[data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.first [data-resource] {
  width: calc(247.5px + 63px);
  margin-left: calc(-55px - 0.75rem);
}

[data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.last {
  padding-top: 110px;
  padding-left: 27.5px;
}

[data-page="moderate-severe-asthma-budesonide-formoterol"] .sidebar.last [data-slidedeck] {
  width: calc(100% + 55px + 11px);
}

[data-page="moderate-severe-asthma-budesonide-formoterol"] .content .page_header-secondary {
  padding-bottom: 55px;
}

[data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.first .footnote {
  display: block;
  padding-bottom: 1.5em;
}

[data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.last [data-resource],
[data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.last [data-slidedeck] {
  width: calc(100% + 42px + 82.5px);
  padding-right: 0;
}

[data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.last [data-slidedeck] {
  height: 16.75rem;
  margin-bottom: 1.25rem;
  margin-left: -55px;
}

[data-page="mild-asthma-budesonide-formoterol"] .grid .sidebar.last [data-resource] {
  margin-left: calc(-55px + 0.5rem);
  padding-left: calc(55px - 0.5rem);
}

[data-page="mild-asthma-budesonide-formoterol"] .grid .content .page_header-secondary {
  padding-bottom: 5.25rem;
}

.aside_header {
  --icon_size: 0.75rem;
  color: var(--border_color);
  text-align: center;
  padding-bottom: calc(1rem * 0.8125);
}

.aside_header span {
  display: block;
  padding-bottom: calc(1rem * 0.8125);
}

.aside_header .icon {
  transform: rotate(90deg);
}

.footer_container button {
  font-weight: bold;
}

.colophon {
  color: #110c4e;
}

.colophon p {
  padding-bottom: 0;
}

[data-page="homepage"] .colophon {
  text-align: center;
}

[data-page="homepage"] .colophon p {
  display: inline-block;
  vertical-align: middle;
}

.content p,
.sidebar.last p {
  padding-bottom: 1em;
}

.footnote {
  font-weight: 700;
}

[data-resource],
.border-block {
  padding: 2.5rem;
}

[data-resource] {
  --border_color: #8f76be;
  overflow-y: auto;
}

[data-resource] .aside_header,
[data-resource] .button,
[data-resource] .message {
  max-width: calc(165px + 42px);
}

[data-slidedeck],
.cutaway {
  background: linear-gradient(-45deg, #8ae6c7, #0e72c0);
}

[data-slidedeck] {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  --border_color: #ffffff;
  overflow-y: auto;
}

[data-slidedeck] .aside_header,
[data-slidedeck] .button,
[data-slidedeck] .message {
  margin: 0 auto;
  max-width: calc(42px + 165px);
}

img {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: var(--icon_size);
  height: var(--icon_size);
}

.icon img {
  width: 100%;
  height: 100%;
}

.company-logo {
  max-height: 3rem;
  object-fit: contain;
}

svg.company-logo {
  height: 88px;
  width: 45px;
}

svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  fill: currentColor;
}

.masthead {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.masthead a:first-of-type {
  margin-right: auto;
  padding-left: 1.625rem;
}

.masthead > * {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.masthead > span > img,
.masthead > span > svg {
  max-width: 104px;
  max-height: 3rem;
  object-fit: contain;
  overflow: hidden;
}

.masthead button {
  position: relative;
  z-index: 55100;
  padding-right: 1.625rem;
  padding-left: 1.625rem;
  background: none;
  --icon_size: 2rem;
  width: calc(3.25rem + var(--icon_size));
}

.masthead button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform ease 150ms;
}

.masthead button[data-active="false"] [data-hamburger] {
  transform: translate(-50%, -50%);
}

.masthead button[data-active="false"] [data-close] {
  transform: translate(-50%, -50%) scale(0);
}

.masthead button[data-active="true"] [data-hamburger] {
  transform: translate(-50%, -50%) scale(0);
}

.masthead button[data-active="true"] [data-close] {
  transform: translate(-50%, -50%);
}

.download_list {
  width: 100%;
}

.download_list li {
  width: 100%;
  padding-bottom: calc(1rem * 0.8125);
}

.download_list li .button,
.download_list li .button:visited,
.download_list li .button:active,
.download_list li .button:hover,
.download_list li .button:focus {
  --text_color: var(--border_color);
  width: 100%;
  text-decoration: none;
}

.download_list li .button span:not(.icon),
.download_list li .button:visited span:not(.icon),
.download_list li .button:active span:not(.icon),
.download_list li .button:hover span:not(.icon),
.download_list li .button:focus span:not(.icon) {
  line-height: 1em;
}

.download_list li .button .icon,
.download_list li .button:visited .icon,
.download_list li .button:active .icon,
.download_list li .button:hover .icon,
.download_list li .button:focus .icon {
  color: var(--text_color);
}

.page_header-primary.has-introductory_copy .title {
  display: inline;
}

.page_header-primary.has-introductory_copy .introductory_copy {
  display: inline-block;
  vertical-align: baseline;
}

.page_header-secondary .subtitle {
  color: var(--text_color-subtitle);
  padding-bottom: 0;
}

.page_header-tertiary .title {
  text-align: center;
}

.programme_objectives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.programme_objectives li {
  --icon_size: 2.25rem;
  display: inline-block;
  font-size: 0;
  width: calc(50% - 0.25rem);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-top: 1rem;
  padding-right: 0.875rem;
  padding-bottom: 1rem;
  padding-left: 0.875rem;
}

.programme_objectives li > * {
  display: inline-block;
  vertical-align: middle;
}

.programme_objectives li span:not(.icon) {
  text-transform: uppercase;
  max-width: calc(100% - var(--icon_size));
  padding-left: 0.625rem;
}

.programme_objectives li.objective-1 {
  background-color: #a2dad3;
}

.programme_objectives li.objective-2 {
  background-color: #edae12;
}

.programme_objectives li.objective-3 {
  background-color: #ee8121;
}

.programme_objectives li.objective-4 {
  background-color: #a7a9ac;
}

.references {
  --icon_size: 2rem;
  background: linear-gradient(-45deg, #8ae6c7, #0e72c0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 55200;
  height: 100%;
  overflow-y: auto;
  padding-top: 5.75rem;
  transform-origin: center right;
  transition: transform ease 600ms;
}

.references[data-active="false"] {
  transform: translateX(100%);
}

.references [data-action="close-modal"] {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 1.375rem;
  padding-right: 1.625rem;
  padding-bottom: 1.375rem;
  padding-left: 1.625rem;
}

.references .references_content ol {
  padding-top: 3.5rem;
  counter-reset: references;
}

.references .references_content ol li {
  position: relative;
  padding-bottom: 1.5em;
}

.references .references_content ol li:before {
  counter-increment: references;
  content: "" counter(references) "";
  position: absolute;
  top: 0;
  left: -21px;
  transform: translateX(-100%);
  text-align: right;
}

.primary-navigation {
  background: #68d2df;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 55000;
  width: 100%;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center right;
  transition: transform ease 600ms;
}

.primary-navigation[data-active="false"] {
  transform: translateX(100%);
}

.primary-navigation[data-active="false"] ul li {
  transform: translateX(50%);
}

.primary-navigation ul {
  width: 100%;
  max-height: 100vh;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
  text-align: center;
}

.primary-navigation ul li {
  margin: 0 auto;
  max-width: 30rem;
  transition: transform cubic-bezier(0.41, 0.01, 0.33, 1) 600ms;
}

.primary-navigation ul li:nth-child(1) {
  transition-delay: 100ms;
}

.primary-navigation ul li:nth-child(2) {
  transition-delay: 200ms;
}

.primary-navigation ul li:nth-child(3) {
  transition-delay: 300ms;
}

.primary-navigation ul li:nth-child(4) {
  transition-delay: 400ms;
}

.primary-navigation ul li:nth-child(5) {
  transition-delay: 500ms;
}

.primary-navigation ul li:nth-child(6) {
  transition-delay: 600ms;
}

.primary-navigation ul li a {
  display: block;
  line-height: 1em;
  font-size: calc(1rem * 2.8125);
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.page-navigation {
  width: calc(110px + 21px);
}

.page-navigation ul {
  margin-left: -1.4375rem;
}

.page-navigation ul li {
  padding-bottom: calc(1rem * 0.8125);
}

.page-navigation ul li[data-active="true"] a {
  --border_color: $clr_rsp-beauregard;
  background: none;
}

.page-navigation ul li[data-visible="false"] {
  display: none;
}

.page-navigation ul li:not(:first-of-type) {
  padding-left: 1.4375rem;
}

.page-navigation ul li:not(:first-of-type) a {
  font-size: calc(1rem * 0.8125);
  padding: 0.71875rem;
}

.page-navigation ul li:first-of-type a {
  font-size: calc(1rem * 0.9375);
  padding-top: 0.71875rem;
  padding-right: 1.4375rem;
  padding-bottom: 0.71875rem;
  padding-left: 1.4375rem;
}

.page-navigation ul li a {
  display: block;
  text-decoration: none;
  background-color: var(--background_color-sidebar_nav);
  color: #110c4e;
}

.message {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ffffff;
}

.message.error {
  --border_color: red;
  color: var(--border_color);
}

.grid .content {
  transition: opacity ease 300ms;
  opacity: 0;
}
